<!-- COURSE -->

<div class="pull-left item">
  <div class="thumbnail">
    <a href="[! PLAYLIST_URL !]">
      <img src="[! THUMBNAIL !]" alt="[! TEACHER !]" />
      <h3 class="caption">[! COURSE !]</h3>
    </a>
    <div class="caption">
      <p><strong>[! TEACHER !]</strong></p>
      <p>místnost <strong>[! ROOM !]</strong></p>
      <p>čas <strong>[! TIME !]</strong></p>
      <p>SIS <a href="[! SYLLABUS !]" target="_blank" rel="noopener"><strong>[! CODE !]</strong></a></p>
    </div>
  </div>
</div>
